/* Reset CSS */



/* Root / Variáveis */

:root {
  /* --header-height: 4.5rem; */

  /* colors */
--hueServicos: 30;
  /* HSL color mode */
  --base-colorServicos: #fb670a;
 --base-colorServicos-second:#fb670a;
  --base-colorServicos-alt: hsl(var(--hueServicos) 57% 53%);
  --title-color: #302b2b;
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/* Base */



.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.sectionServicos .container{
  max-width: 1120px;

}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}


/* Layout */





.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

/* .section .subtitle {
  font-size: var(--subtitle-font-size);
} */

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-colorServicos);
}



/* Services */


.slick-slider {
  margin: 0 -10px; /* Espaçamento entre os cards */
}

/* Estilos para cada slide (card) no carrossel */
.slick-slide {
  padding: 0 10px; /* Espaçamento entre os cards */
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle {
  text-align: justify;
}

/* Estilos para o conteúdo do card */
.card {
  width: 100%; /* Largura igual para cada card */
  height: 450px; /* Altura igual para cada card */
  padding: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.info-card-serv p{
  text-align: justify!important
}

/* Estilos para as bolinhas (indicadores) do carrossel */
.slick-dots li button::before {
  font-size: 10px;
  color: #ccc; /* Cor das bolinhas inativas */
}

.slick-dots li.slick-active button::before {
  color: #333; /* Cor da bolinha ativa */
}



/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .slick-slide {
    padding: 0 5px; /* Espaçamento menor entre os cards em telas menores */
  }
}


.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-colorServicos);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-colorServicos);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* Testimonials */

#testimonials {
  background: white;
  margin-bottom: 2rem;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-bottom: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.25;
  left: -1.875rem;
  color: var(--base-colorServicos);
}

#testimonials cite {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-style: normal;
}

#testimonials cite img {
  width: 6rem;
  height: 3rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-colorServicos);
}




/* Responsividade-Breakpoints */

/* Config p/ dispositivos maiores que 1200px */
@media (min-width: 1200px) {
  /* Classes globais */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

 
 

  





  /* Services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  /* Testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }




}

/* Dispositivos maiores que 992px */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
